<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <!-- <h1 class="h3 mb-0 text-gray-800">Clientes</h1> -->
    <h1 class="h4 mb-0 font-weight-bold text-theme">Clientes</h1>
</div>

<div class="row">
    <div class="col-lg-12">
        <!-- TABELA -->
        <ng-container *ngIf="openView === 1">
            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex justify-content-end">
                  <!-- <div class="col-lg-5">
                    <h6 class="m-0 font-weight-bold text-theme">Clientes</h6>
                  </div> -->

                  <mat-form-field class="col-lg-4 search-form">
                    <div class="input-group">
                      <input matInput (keyup)="applyFilter($event)" placeholder="Pesquisar" #input>
                    </div>
                  </mat-form-field>

                  <div class="col-lg-3 text-right">
                    <a (click)="isOpenView(2, null)" class="btn btn-primary btn-icon-split btn-sm">
                        <span class="text">Adicionar cliente</span>
                    </a>
                  </div>
                </div>
                <div class="card-body">
                  <div *ngIf="spinner" class="box-spinner">
                    <mat-spinner color="warn" diameter="30"></mat-spinner>
                  </div>

                  <div *ngIf="!spinner" class="table-responsive">
                      <table mat-table [dataSource]="dataSource" matSort class="table align-items-center table-flush" id="dataTable" width="100%" cellspacing="0">
                      
                      <ng-container matColumnDef="image">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort"></th>
                        <td mat-cell *matCellDef="let row">
                          <ng-container  *ngIf="!row.image">
                            <img class="img-profile img-width-profile rounded-circle" src="assets/img/undraw_profile_2.svg">
                          </ng-container>

                          <ng-container  *ngIf="row.image">
                            <img class="img-profile img-width-profile rounded-circle" src="http://localhost:8000/storage/media/{{row.image}}">
                          </ng-container>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="nome">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort">Nome</th>
                          <td mat-cell *matCellDef="let row"> {{row.name}}</td>
                      </ng-container>
                  
                      <ng-container matColumnDef="phone">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort">Celular</th>
                          <td mat-cell *matCellDef="let row"> {{row.phone}}</td>
                      </ng-container>
                      
                      <ng-container matColumnDef="criado">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort">Data da Criação</th>
                          <td mat-cell *matCellDef="let row"> {{row.created_at | date: 'dd/MM/yy'}}</td>
                      </ng-container>

                      <ng-container matColumnDef="acoes">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort"></th>
                          <td mat-cell *matCellDef="let row" class="text-right">
                          <div class="dropdown">
                              <a class="btn btn-sm btn-icon-only text-dark" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fas fa-ellipsis-v"></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <a (click)="isOpenView(4, row.id)" class="dropdown-item item-view">
                                  <i class="fas fa-eye"></i>
                                  <span>Visualizar</span>
                                </a>

                                <a (click)="isOpenView(3, row.id)"  class="dropdown-item item-edit">
                                  <i class="fas fa-edit"></i>
                                  <span>Editar</span>
                                </a>

                                <a (click)="openModalDelete(row.id)"class="dropdown-item item-delete">
                                  <i class="fas fa-trash"></i>
                                  <span>Deletar</span>
                                </a>
                              </div>
                          </div>
                          </td>
                      </ng-container>

                          <tr mat-header-row *matHeaderRowDef="displayed"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayed;"></tr>

                          <tr class="mat-row no-data" *matNoDataRow>
                              <p>Nenhum cliente cadastrado.</p>
                          </tr>
                      </table>
                  </div>
                  <!-- Card footer -->
                  <div class="card-footer">
                      <!-- PAGINATOR -->
                      <mat-paginator
                      [pageSizeOptions]="pageSizeOptions"
                      >
                      </mat-paginator>
                  </div>
                </div>
            </div>
            <!-- Collapsable Card Example -->
            
        </ng-container>

        <!-- ADD -->
        <ng-container *ngIf="openView === 2">
          <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex">
              <div class="col-lg-8">
                <h6 class="m-0 text-muted">Adicionar cliente</h6>
              </div>
              <div class="col-lg-4 text-right">
                <a (click)="isOpenView(1, null)" class="btn btn-primary btn-icon-split btn-sm">
                    <span class="text">Voltar</span>
                </a>
              </div>
            </div>
            <div class="card-body">
              <form [formGroup]="dataForm" (ngSubmit)="post()">
                <!-- Alertas -->
                <alert class="alert-dismiss" type="{{responseSrv.alertType}}"
                [isOpen]="responseSrv.open"
                [dismissible]="responseSrv.dismissible"
                (onClosed)="responseSrv.onClosed()"
                >
                  <ng-container *ngFor="let mensagem of responseSrv.alertResponse">
                    <span>{{mensagem}}</span><br />
                  </ng-container>
                </alert>

                <div class="p-4">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Nome</label>
                        <input formControlName="name" placeholder="Nome do cliente" type="text" class="form-control">
                        <span class="text-danger error" *ngIf="dataForm.controls.name.invalid">
                          Digite um nome válido.
                        </span>
                      </div>
                    </div>

                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Email</label>
                        <input formControlName="email" placeholder="exemplo@email.com" type="email" class="form-control">
                        <span class="text-danger error" *ngIf="dataForm.controls.email.invalid">
                          Digite um email válido.
                        </span>
                      </div>
                    </div>

                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Celular</label>
                        <input formControlName="phone" placeholder="(13)99999-9999" type="text" class="form-control">
                        <span class="text-danger error" *ngIf="dataForm.controls.phone.invalid">
                          Digite um celular válido.
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Senha</label>
                        <input formControlName="password" placeholder="********" autocomplete="new-password" type="password" class="form-control">
                        <span class="text-danger error" *ngIf="dataForm.controls.password.invalid">
                          Digite uma senha válido.
                        </span>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Confirmação de Senha</label>
                        <input formControlName="password_confirmation" placeholder="********" autocomplete="new-password" type="password" class="form-control">
                        <span class="text-danger error" *ngIf="dataForm.controls.password_confirmation.invalid">
                          Digite uma confirmação de senha válida.
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- [disabled]="dataForm.invalid" -->
                <div class="text-right">
                  <button type="reset" class="btn btn-light mr-2">Resetar</button>
                  <button type="submit" [disabled]="dataForm.invalid"   class="btn btn-success btn-30">Enviar</button>
                </div>
              </form>
            </div>
          </div>
        </ng-container>

         <!-- EDITAR -->
         <ng-container *ngIf="openView === 3">
            <!-- Collapsable Card Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex">
                <div class="col-lg-8">
                  <h6 class="m-0 text-muted">Editar informações do cliente</h6>
                </div>
                <div class="col-lg-4 text-right">
                  <a (click)="isOpenView(1, null)" class="btn btn-primary btn-icon-split btn-sm">
                      <span class="text">Voltar</span>
                  </a>
                </div>
              </div>
              <div class="card-body">
                <form [formGroup]="updateForm" *ngIf="dataGetByID" (ngSubmit)="update(dataGetByID.id)">
                  <!-- Alertas -->
                  <alert class="alert-dismiss" type="{{responseSrv.alertType}}"
                  [isOpen]="responseSrv.open"
                  [dismissible]="responseSrv.dismissible"
                  (onClosed)="responseSrv.onClosed()"
                  >
                    <ng-container *ngFor="let mensagem of responseSrv.alertResponse">
                      <span>{{mensagem}}</span><br />
                    </ng-container>
                  </alert>

                  <div class="p-4">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group">
                          <label class="form-control-label" for="input-email">Nome</label>
                          <input [(ngModel)]="dataGetByID.name" formControlName="name" placeholder="Nome Sobrenome" type="text" class="form-control">
                          <span class="text-danger error" *ngIf="updateForm.controls.name.invalid">
                            Digite um nome válido.
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-first-name">Email</label>
                          <input [(ngModel)]="dataGetByID.email" formControlName="email"placeholder="exemplo@email.com" type="email" class="form-control">
                          <span class="text-danger error" *ngIf="updateForm.controls.email.invalid">
                            Digite um email válido.
                          </span>
                        </div>
                      </div>

                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-first-name">Celular</label>
                          <input formControlName="phone" [(ngModel)]="dataGetByID.phone" placeholder="(13)99999-9999" type="text" class="form-control">
                          <span class="text-danger error" *ngIf="updateForm.controls.phone.invalid">
                            Digite um celular válido.
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-right">
                    <button type="submit" [disabled]="updateForm.invalid"  class="btn btn-success btn-30">Enviar</button>
                  </div>
                </form>
              </div>
            </div>
        </ng-container>

         <!--  Visualizar -->
        <ng-container *ngIf="openView === 4" class="row">
          <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex">
              <div class="col-lg-8">
                <h6 class="m-0 text-muted">Histórico do cliente</h6>
              </div>
              <div class="col-lg-4 text-right">
                <a (click)="isOpenView(1, null)" class="btn btn-primary btn-icon-split btn-sm">
                  <span class="text">Voltar</span>
                </a>
              </div>
            </div>

            <div class="card-body">
              <!-- Alertas -->
              <alert class="alert-dismiss" type="{{responseSrv.alertType}}"
              [isOpen]="responseSrv.open"
              [dismissible]="responseSrv.dismissible"
              (onClosed)="responseSrv.onClosed()"
              >
                <ng-container *ngFor="let mensagem of responseSrv.alertResponse">
                  <strong>{{mensagem}}</strong><br />
                </ng-container>
              </alert>

           
              <ng-container *ngIf="!dataGetByID" class="box-spinner">
                <mat-spinner color="warn" diameter="30"></mat-spinner>
              </ng-container>
      
              <ng-container *ngIf="dataGetByID">
                  <h6 class="heading-small text-muted">Dados cadastrados</h6>
                  <div class="row">
                    <div class="col-lg-12">
                      <table class="table table-responsive align-items-center">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col" class="sort" data-sort="name">Nome</th>
                            <th scope="col" class="sort" data-sort="status">Celular</th>
                            <th scope="col" class="sort" data-sort="status">Email</th>
                            <th scope="col" class="sort" data-sort="status">Data do Cadastro</th>
                          </tr>
                        </thead>
                
                        <tbody class="list">
                          <tr>
                            <td>
                              {{dataGetByID.name}}
                            </td>
                            <td>
                              {{dataGetByID.phone}}
                            </td>
                            <td>
                              {{dataGetByID.email}}
                            </td>
                            <td>
                              {{dataGetByID.created_at | date: 'dd/MM/yy'}}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <h6 class="heading-small text-muted mt-3">Endereços</h6>
                  <div class="row pt-2">
                    <div class="col-lg-12">
                      <!-- <label class="form-control-label">Endereços</label> -->
                      <div *ngIf="spinnerEnderecos" class="box-spinner">
                        <mat-spinner color="warn" diameter="30"></mat-spinner>
                      </div>

                      <div *ngIf="!spinnerEnderecos">
                          <table class="table table-responsive align-items-center table-flush">
                            <thead class="thead-light">
                              <tr>
                                <th scope="col" class="sort" data-sort="name">Tipo</th>
                                <th scope="col" class="sort" data-sort="status">CEP</th>
                                <th scope="col" class="sort" data-sort="budget">Endereço</th>
                                <th scope="col" class="sort" data-sort="status">Complemento</th>
                                <th scope="col" class="sort" data-sort="status">Cidade</th>
                              </tr>
                            </thead>
                    
                            <tbody class="list">
                              <ng-container *ngIf="!enderecos">
                                <td class="budget">
                                  Sem endereços cadastrados.
                                </td>
                              </ng-container>
          
                              <ng-container *ngIf="enderecos">
                              <tr *ngFor="let endereco of enderecos">
                                <td>
                                  {{endereco.type}}
                                </td>
                                <td>
                                  {{endereco.zipcode}}
                                </td>
                                <td class="flex-wrap">
                                  {{endereco.address}}, {{endereco.number}} - {{endereco.district}}
                                </td>
                                <td>
                                  {{endereco.complement}}
                                </td>
                                <td>
                                  {{endereco.cidade.cidade_name.name}}
                                </td>
                              </tr>
                              </ng-container>
                            </tbody>
                          </table>
                      </div>
                    </div>
                  </div> 

                  <h6 class="heading-small text-muted mt-3">Pedidos</h6>

                  <div class="row pt-2">
                    <div class="col-lg-12">
                      <!-- <label class="form-control-label">Endereços</label> -->
                      <div *ngIf="spinnerPedidos" class="box-spinner">
                        <mat-spinner color="warn" diameter="30"></mat-spinner>
                      </div>

                      <div *ngIf="!spinnerPedidos">
                          <table class="table table-responsive align-items-center table-flush">
                            <thead class="thead-light">
                              <tr>
                                <th scope="col" class="sort" data-sort="name">Data/Hora</th>
                                <th scope="col" class="sort" data-sort="status">Entregador</th>
                                <th scope="col" class="sort" data-sort="status">Status</th>
                                <th scope="col" class="sort" data-sort="budget">Total</th>
                                <th scope="col" class="sort" data-sort="status">Forma de Pagamento</th>
                              </tr>
                            </thead>
                    
                            <tbody class="list">
                              <ng-container *ngIf="!pedidos">
                                <td class="budget">
                                  Sem histórico de pedidos.
                                </td>
                              </ng-container>
          
                              <ng-container *ngIf="pedidos">
                                <tr *ngFor="let pedido of pedidos">
                                  <td>
                                    {{pedido.date_hour | date: 'dd/MM/yy HH:mm'}}
                                  </td>
                                  <td>
                                    {{pedido.entregador.name}}
                                  </td>
                                  <td>
                                    {{pedido.status}}
                                  </td>
                                  <td class="flex-wrap">
                                    {{pedido.total | currency: 'BRL'}}
                                  </td>
                                  <td>
                                    No {{pedido.payment_method}},  
                                    <span *ngIf="pedido.platform_payment === 'entrega'">na {{pedido.platform_payment}}</span>

                                    <span *ngIf="pedido.platform_payment === 'app'">pelo {{pedido.platform_payment}}</span>
                                  </td>
                                </tr>
                              </ng-container>
                            </tbody>
                          </table>
                      </div>
                    </div>
                  </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
    </div>
</div>
