<h2 mat-dialog-title>Você tem certeza?</h2>
<mat-dialog-content class="mat-typography">
  <h3>Caso esta informação faça relação com outras tabelas, tudo será excluído.</h3>
  <h3>Esta informação não poderá ser recuperada posteriormente.</h3>
  <h3>Esta ação pode demorar alguns instantes.</h3>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn margin-right pull-right" mat-button mat-dialog-close>Cancelar</button>
  <button class="btn btn-primary pull-right" mat-button [mat-dialog-close]="true" cdkFocusInitial>Excluir</button>
</mat-dialog-actions>